$height: 30px;
$width: 200px;

.select_container {
  position: relative;
  min-width: $width;
  width: fit-content;
  height: $height;

  .select_button {
    width: 100%;
    height: $height;
  }

  .dropdown {
    position: absolute;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 4px;
    max-height: 200px;
    overflow-y: scroll;

    .item {
      display: flex;
      flex-direction: row;
      width: 100%;
      min-height: $height;
      max-height: $height;
      align-items: center;
    }
  }
}
