@use '../../../constants/theme.module.scss';

.entry {
  display: flex;
  flex-direction: row;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid theme.$lightGray;
  background-color: white;

  .title {
    font-size: 12px;
    color: theme.$darkTextColor;
    margin: 0;
  }
}
